body{
    font-family: cursive;
    background-color: #00b7ff;
}

/*imagens: inicio*/
/**imagens: final/
/*paragrafos: inicio*/
a{
    text-decoration: none;
    color: black;
    cursor: default;
}
/*paragrafo: fim*/